#ms-sellerinfo .content {
	position: relative;
}

#ms-sellerinfo .overlay {
	width: 100%;
	height: 100%;
    top: 0;
    left: 0;
	z-index: 100;
	background-color:#EEE;
	opacity: 0.5;
	position: absolute;
}

.ms-product tr > td {
	padding-bottom: 10px;
	vertical-align: top;
}

.ms-product tr td:first-child {
	padding-top: 5px;
	width: 150px;	
}

.ms-product input[type='text'] {
	width: 200px;
}

.ms-product textarea {
	width: 400px;
	height: 100px;
}

.ms-language-div {
	border: 1px solid #EEEEEE;
	border-top: none;
}

.ms-note {
	font-size: 11px;
	font-style: italic;
	margin-bottom: 0;
}

.product-info .ms-sellerinfo {
	border-bottom: none;
    border-top: 1px solid #E7E7E7;
    color: #4D4D4D;
    line-height: 20px;
    padding: 5px 5px 10px;
}

.product-info .ms-sellerinfo span {
	color: #38B0E3;
}

.ms-pending {
	color: #AAA;
}

#ms-withdrawal input[type='radio'], #ms-withdrawal span {
	vertical-align: middle;
	margin: 0;
}

#ms-withdrawal tr:first-child + tr td:first-child + td {
	padding-top: 5px;
}

#ms-withdrawal p {
	margin-bottom: 10px;
}